#slide3-2 {
	background-color: #FFF2A0;
}

#bbyoshiface {
	margin-bottom: 100px;
}

#bbtextpage1 {
	color: white;
}


/* Egg animation --------------------*/

.egg {
	overflow: hidden;
	
	animation: egganim 12s ease-in-out 0s infinite;
	transform-origin: 50% 90%;
	margin-top: 20px;
	margin-bottom: 20px;
}

@keyframes egganim {
	0% { transform: rotateZ( 0deg ); }
	1% { transform: rotateZ( 15deg ); }
	2% { transform: rotateZ( 0deg ); }
	
	6% { transform: rotateZ( 0deg ); }	
  	7% { transform: rotateZ( -15deg ); }
	8% { transform: rotateZ( 0deg ); }
	
	40% { transform: rotateZ( 0deg ); }	
	41% { transform: rotateZ( -15deg ); }
	42% { transform: rotateZ( 0deg ); }
	
	43% { transform: rotateZ( 0deg ); }	
	44% { transform: rotateZ( 15deg ); }
	45% { transform: rotateZ( 0deg ); }
	
  	77% { transform: rotateZ( 0deg ); }	
  	78% { transform: rotateZ( -15deg ); }
	79% { transform: rotateZ( 0deg ); }
	
	80% { transform: rotateZ( 0deg ); }
	81% { transform: rotateZ( 15deg ); }
	82% { transform: rotateZ( 0deg ); }
	
	96% { transform: rotateZ( 0deg ); }	
  	97% { transform: rotateZ( -15deg ); }
	98% { transform: rotateZ( 0deg ); }
}

@media(max-width:576px){
	#bbtextpage1 {
		font-size: 1em;
	}
	.eggimg {
		width: 200px;
		height: 250px;
	}
}

#bbyoshibomb {
	opacity: .5;
}

#bbyoshibomb:hover {
	opacity: 1;
}

#bbyoshimap {
	opacity: .5;

}

#bbyoshimap:hover {
	opacity: 1;
}

#bbyoshichampignon {
	opacity: .5;
}

#bbyoshichampignon:hover {
	opacity: 1;
}

#bbgreenturtle {
	opacity: .5;
}

#bbgreenturtle:hover {
	opacity: 1;
}