#section3 {
	background-image: url("media/bbbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Catamaran' !important;
    color: #F7F7F7;
}

#slide3-2 {
	background: url('media/bbfondjaune.png') repeat;
	color: black;
}

#bbtextpage1, #bbtextpage11, #bbtextpage2, #bbtextpage22 {
	text-align: center;
	overflow: hidden;
}

#bbtextpage1, #bbtextpage2 {
	margin-bottom: 25px;
}

#bbtextpage2 {
	margin-top: -25px;
}

#bbcard1, #bbcard2, #bbcard3 {
	margin-top: 15px;
}

/* Egg animation --------------------*/

.eggimg {
	margin-left: 20px;
	margin-bottom: 100px;
}

.egg {
	overflow: hidden;
	animation: egganim 12s ease-in-out 0s infinite;
	transform-origin: 50% 90%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#eggID {
	display: inline;
}

#eggCrackID {
	display: none;
}

#eggOpenID {
	display: none;
}

#eggYoshiID {
	display: none;
}

@keyframes egganim {
	0% { transform: rotateZ( 0deg ); }
	1% { transform: rotateZ( 15deg ); }
	2% { transform: rotateZ( 0deg ); }
	
	6% { transform: rotateZ( 0deg ); }	
  	7% { transform: rotateZ( -15deg ); }
	8% { transform: rotateZ( 0deg ); }
	
	40% { transform: rotateZ( 0deg ); }	
	41% { transform: rotateZ( -15deg ); }
	42% { transform: rotateZ( 0deg ); }
	
	43% { transform: rotateZ( 0deg ); }	
	44% { transform: rotateZ( 15deg ); }
	45% { transform: rotateZ( 0deg ); }
	
  	77% { transform: rotateZ( 0deg ); }	
  	78% { transform: rotateZ( -15deg ); }
	79% { transform: rotateZ( 0deg ); }
	
	80% { transform: rotateZ( 0deg ); }
	81% { transform: rotateZ( 15deg ); }
	82% { transform: rotateZ( 0deg ); }
	
	96% { transform: rotateZ( 0deg ); }	
  	97% { transform: rotateZ( -15deg ); }
	98% { transform: rotateZ( 0deg ); }
}

@media(max-width:576px){
	#bbtextpage1, #bbtextpage11, #bbtextpage2, #bbtextpage22 {
		font-size: 1em;
		text-align: center;
	}
	#bbtextpage11, #bbtextpage22 {
		display: none;
	}
	.eggimg {
		width: 200px;
		height: 250px;
		margin-left: 65px;
		margin-bottom: 100px;
	}
	#bbcard1, #bbcard2, #bbcard3 {
		display: none;
	}

	#bbcard4 {
		height: 600px;
	}

	#bbgooglemap {
		width: 96%;
		height: 313px;
	}
	#slide3-1 {
		background-size: 260%;
		background-position: bottom;
	}
}


/* text animation ---------------*/

#titremeeting {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-top: 20px;
}

#titremeeting.word {
  display: inline-block;
  line-height: 1em;
}

/* Map -----------------*/

#bigmapbutton {
	margin-top: 1.5em;
	background-color: green;
	color: #fff;
}

/* Modal -----------------*/

#bbModal {
	position: absolute;
}

#bbregisterbutton {
	color: green;
	background: transparent;
}

#bbclosebutton {
	color: red;
	background: transparent;
}